{% extends "layout.html" %}

{% block body %}
<h2>Friends</h2>

<br >
<table border="1" >
    <tr>
        <th>Creado</th><th>Nombre</th><th>Nick</th><th>Descripcion</th><th>Nro Amigos</th><th>Mas</th>
    </tr>
{% for user in friends %}

    <tr>
    <td>
    {{user[0]}}
    </td>
    <td>
    {{user[1]}}
    </td>
    <td>
    {{user[2]}}
    </td>
    <td>
    {{user[3]}}
    </td>
    <td>
    {{user[4]}}
    </td>
    <td>
        <a href="/user/{{user[5]}}">Mas Info</a>
        </td>

    <tr>
{% endfor %}
</table>
<br/>
<br/>
<br>
<br>
<br>
<h2>Informacion adicional</h2>


<br>
<br>
<br>
<br>
    {% autoescape false %}
        {{ html }}
    {% endautoescape %}
{% endblock %}
